<h3> <i class="fa-brands fa-btc"></i> GET-DROP</h3>
<div class="section">
    <p class="lead">Find latest and genuine airdrops</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log in With Google
    </a>
</div>